@block-bg: #ffdec1;
@main-color: #ff9b3f;
.main-wrapper{
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 6rem;

    .title{
        font-size: 2.6rem;
        text-align: center;
        font-weight: 500;
        padding-bottom: 1rem;
        border-bottom: 1.5px solid @block-bg;
        margin-bottom: 3rem;
    }
    .page-body{
        h2,h3{
            font-weight: 500;
            margin-top: 2rem;
        }
        p,span{
            font-size: 1.4rem;
            line-height: 1.6;
            margin-bottom: 1rem;
        }
    }
    
}
.breadcrumb{
    padding: 1rem 0;
}
