@main-color: #ff9b3f;


.product-main{
    display: block;
    @media screen and (max-width: 1024px){
        padding: 0 15px;
    }
    .goods{
        display: flex;
        justify-content: space-around;
        height: 1000px;
        align-items: center;
        position: relative;
        gap: 80px;
        &:first-child{
            .info{
                .price-sec{
                    .discount{
                        width: 70px;
                    }
                }
            }
        }
        &:hover{
            .info{
                .price-sec{
                    .discount{
                        opacity: 1;
                        transform: translateY(-10px);
                    }
                }
            }
        }
        .img-wrap{
            -webkit-box-shadow: 20px 30px 50px 0px rgb(0 0 0 / 35%);
            -moz-box-shadow: 20px 30px 50px 0px rgba(0,0,0,0.35);
            box-shadow: 20px 30px 50px 0px rgb(0 0 0 / 35%);
            position: relative;
            width: 500px;
            flex-shrink: 0;
            border-radius: 30px;
            overflow: hidden;
        }
        .info{
            position: relative;
            .title{
                font-size: 32px;
                display: flex;
                font-weight: 500;
                align-items: baseline;
                flex-wrap: wrap;
            }
            .goods-title,.label{
                font-size: 32px;
                font-weight: 500;
            }
            .tags{
                margin: 40px 0 10px;
                span{
                    padding: 1px 6px;
                    font-size: 14px;
                    color: #ff9b3e;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    font-weight: 500;
                    border: 1.5px solid #ff9b3e;
                }
            }
            .attr{
                margin-bottom: 40px;
                font-size: 15px;
                display: grid;
                grid-template-columns: auto 1fr;
                .attr-name{
                    font-weight: 700;
                    margin-right: 10px;
                }
                .attr-value{
                    letter-spacing: 0;
                }

            }

            .price-sec{
                display: flex;
                align-items: baseline;
                width: fit-content;
                gap: 10px;
                .price{
                    font-size: 26px;
                    font-weight: 700;
                    letter-spacing: 0;
                    color: red;
                }
                .discount{
                    font-size: 12px;
                    position: absolute;
                    right: 0;
                    top: 64px;
                    color: #FFF;
                    font-weight: 700;
                    letter-spacing: 0;
                    transition: all 0.8s;
                    background-color: #ff9b3e;
                    padding: 6px 10px;
                    border-radius: 6px;
                    opacity: 0;
                    width: 98px;
                    white-space: nowrap;
                }
                .market-price{
                    font-size: 20px;
                    color: #999;
                    font-weight: 700;
                    position: relative;
                    &:after{
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: #f00;
                        position: absolute;
                        transform: translate(-50%, -50%) rotate(-5deg);
                        top: 50%;
                        left: 50%;
                    }
                    
                }
                .twd{
                    font-size: 0.7em;
                    margin-right: 0.3em;
                }
            }
            .btn{
                margin-top: 10px;
                display: flex;
                gap: 10px;
                .checkout{
                    flex: 2;
                    width: 100%;
                    height: 48px;
                    padding: 0;
                    color: #191919;
                    background-color: #ff9b3e;
                    font-size: 16px;
                    transition: all 0.3s;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
                .goinfo{
                    flex: 1;
                    width: 100%;
                    height: 48px;
                    border-radius: 2rem;
                    color: #191919;
                    border: 1.5px solid #ff9b3e;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 700;
                    transition: all 0.3s;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }

        }
        &:nth-child(even){
            flex-direction: row-reverse;
            .info{
                margin-top: 100px;
            }
        }
        &:nth-child(odd){
            .info{
                margin-bottom: 100px;

            }
        }
    }
}

@media screen and (max-width: 1024px){
    .product-main{
        .goods{
            height: fit-content;
            margin-bottom: 60px;
            &:nth-child(even){
                .info{
                    margin-top: 0;
                }
            }
            &:nth-child(odd){
                .info{
                    margin-bottom: 0;
                }
            }
            .img-wrap{
                width: 100%;
                border-radius: 16px;
                box-shadow: none;
                transform: none !important;
            }
            .info{
                width: 100%;
                transform: none !important;
                .title,
                .goods-title,
                .label{
                    font-size: 14px;
                }
                .tags{
                    margin: 10px 0 20px;
                    span{
                        font-size: 11px;
                        color: darken(@main-color,25%);
                        border: 1.5px solid darken(@main-color,25%);
                    }
                }
                .attr{
                    font-size: 12px;
                    margin-bottom: 20px;
                    display: none;
                }
                .price-sec{
                    gap: 4px;
                    .price{
                        font-size: 16px;
                    }
                    .market-price{
                        font-size: 14px;
                        color: #999;
                    }
                    .discount{
                        opacity: 0;
                    }
                }
                .btn{
                    gap: 4px;
                    .checkout,
                    .goinfo{
                        height: 32px;
                        font-size: 13px;
                    }
                    .checkout{
                        color: #191919;
                    }
                    .goinfo{
                        border: 1.5px solid @main-color;
                        color: #191919;
                    }
                }
            }
        }
    }
}

